@use "../styles/variables" as *;
@use "sass:color";

.button {
  display: inline-flex;
  justify-content: center; 
  align-items: center;    
  user-select: none;
  padding: 12px 24px;
  background: $primary;
  border: none;
  border-radius: $radius;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;

  &:hover {
    transform: scale(1.05);
    background: color.scale($primary, $lightness: -10%);
  }
}